<div class="container">
  <svg class="progress-ring" height="400" width="400">
    <circle
      #progressRing
      class="progress-ring__circle"
      stroke-width="16"
      fill="transparent"
      r="168"
      cx="200"
      cy="200"
      stroke="#333"
    />
  </svg>
  <div class="progress-ring__text">
    <div class="timer">
      {{ timeFormat(secondLeft) }}
    </div>
    <div class="title">
      {{ messages[state] }}
    </div>
    <div
      class="game-time"
      [ngClass]="{ visibility: state != 'spawned' ? 'visible' : 'hidden' }"
    >
      {{ timeFormat(secondLeft + gameTime) }}
      {{ state == "spawned" ? "" : "in game" }}
    </div>
  </div>
</div>
